@font-face {
  font-family: 'Bleach-8jnJ';
  src: url('Bleach-8jnJ.eot');
  src: url('Bleach-8jnJ.eot?#iefix') format('embedded-opentype'),
       url('Bleach-8jnJ.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bleach';
  src: url('Bleach.svg#Bleach') format('svg'),
       url('Bleach.ttf') format('truetype'),
       url('Bleach.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

